body {
  background-color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0;
}

.person {
  text-align: center;
  width: 25%;
}
.person img{
  height: 250px;
  }

.person .name{
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #36AC72;
}

.person .email{
  text-transform: uppercase;
  text: #B7B7B7;
}

.person .address{
  text-transform: capitalize;

}
